@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: BYekan;
  src: url('../src/public/font/BYekan/BYekan+.ttf');
}

@layer base {
  html {
    font-family: BYekan;
  }
  a {
    textdecoration: 'none';
    color: 'inherit';
  }
}

.swiper-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
